In [53]:
import pandas as pd #pandas kütüphanesini import ettik. as komutu ile kütüphaneyi kullanmak için kısaltılmış halini tanımladık.
import numpy as np #numpy kütüphanesini import ettik. as komutu ile kütüphaneyi kullanmak için kısaltılmış halini tanımladık.

In [54]:
data = pd.read_csv("Pokemon.csv") #pokemon.csv isimli dosyayı okutup dataya attık.

In [55]:
data #sadece data yazınca ilk 5 ve son 5 veriyi getirir.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [56]:
data.head() #head komutu ilk 5 veriyi getirir.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [57]:
data.head(0) #sadece başlıkları getirir.

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [58]:
data.index #index komutu ile toplam kaç satır veri olduğunu gsöterir.

RangeIndex(start=0, stop=800, step=1)

In [59]:
len(data) #len komutu ile de kaç adet veri olduğuna bakabiliriz.

800

In [60]:
data.HP #Bu komut ile veritabanındaki güç anlamına gelen HP sütununu getirdik.

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [61]:
data.HP.mean() #mean komutu ile HP'nin ortalamasını aldık.

69.25875

In [62]:
data.HP.max() #max ile en güçlü olanın gücü kaç olduğunu getirdik.

255

In [63]:
#Alttaki iki komut aynı işlevi görüyor sadece yazımı farklı.
#data.Attack.max() 
data["Attack"].max()

190

In [64]:
data[data["Attack"] == 190] #en yüksek atak gücün kime ait olduğu ve diğer özelliklerini gösterdik.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [65]:
data[data["Attack"] == 190]["Type 1"] #Atağı 190 olan karakterin sadece özelliğin ne olduğunu çağırdık.

163    Psychic
Name: Type 1, dtype: object

In [66]:
data[data["Attack"] == 190]["Type 1"].iloc[0]  #Atağı 190 olan karakterin sadece özelliğin ne olduğunu çağırdık. iloc ile sade gösterim yaptık.

'Psychic'

In [67]:
data[data["Name"] == "Pikachu"]["Defense"].iloc[0] #Pikachu'nun defans gücünün kaç olduğunu ekrana yazdırdık.

40

In [68]:
data.groupby("Type 1") #type 1'i grupladık.

In [69]:
data.groupby("Type 1").mean(numeric_only=True) #Type 1 sütunundakilere göre ortalamasını aldırdık. 
                                               #mean kısmı hata verdi çünkü string bir ifade olduğu için ortalamasını alamdı.
                                               #bu yüzden numeric olarak tanımladık.

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [70]:
data.groupby("Type 1").mean(numeric_only=True).max() #type 1 sütunundaki ortalamaları aldırdıktan sonra totalde sütunların en güçlü olan sayıları ekrana yazdırdık.

#             677.750000
Total         550.531250
HP             83.312500
Attack        112.125000
Defense       126.370370
Sp. Atk        98.403509
Sp. Def        88.843750
Speed         102.500000
Generation      5.500000
Legendary       0.500000
dtype: float64

In [71]:
data["Type 1"].nunique() #Type 1 sütununda kaç farklı özellik olduğunu ekrana yazdırdık.

18

In [72]:
data["Type 1"].value_counts() #Her bir özellikten kaç tane karakter var.

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64